html
    head 
        link(
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css")
        link(
            rel="preconnect" 
            href="https://fonts.googleapis.com")
        link(
            rel="preconnect" 
            href="https://fonts.gstatic.com" 
            crossorigin)
        link(
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" 
            rel="stylesheet")
        link(
            rel="stylesheet" 
            href="/static/css/style.css")
        link(
            rel="icon" 
            type="image/png" 
            href="https://icon-library.com/images/netflix-icon-transparent/netflix-icon-transparent-29.jpg")

    body 
        nav.uk-navbar-container#nav(uk-navbar='')
            .uk-navbar-left
                ul.uk-navbar-nav
                    li.uk
                        a(href='/') Home
                    li
                        a(href='/buscar?categoria=peliculas') Peliculas
                    li  
                        a(href='/buscar?categoria=series') Series
                    li
                        a(href='/add') Add
            .uk-navbar-right
                ul.uk-navbar-nav
                    li
                        a(href='/favorites') Favoritos
                            span#cart-badge.uk-label 0
                    li 
                        a(href='/profile')
                            img(class="img-user-nav" src=`https://cdn-icons-png.flaticon.com/512/709/709579.png`)
                
        block content